<?xml version="1.0" encoding="UTF-8"?>


<launch>
  <node name="rgb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/mobilican/WEBCAM" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="800" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="rgb_cam_link" />
  </node>
</launch>
