<?xml version="1.0"?>

<launch>
  <arg name="enable_mbc_odom_tf" default="false" doc="enable mobile_base_controller odom tf"/>
  
  
  <rosparam file="$(find lizi_control)/config/lizi_control.yaml" command="load"/>
  <param name="mobile_base_controller/enable_odom_tf" value="$(arg enable_mbc_odom_tf)" />
  
  <!-- load the controllers -->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen"
    args="robot_state_controller mobile_base_controller"
  />
  
</launch>
