SUBSYSTEMS=="usb", ATTRS{manufacturer}=="Microsoft", ATTRS{idProduct}=="0810", ATTRS{speed}=="480", ATTRS{bDeviceClass}=="ef", SYMLINK+="lizi/WEBCAM", MODE="0666" 
